Repository JosiahWitt/ensure: changes, and which Codecov flags are due for each by the changed paths.
All: cli, package

Add @latest to install instructions
  README.md
Due: none

Fix paths for v2+ packages
  cmd/ensure/internal/cmd/mocks.go
  cmd/ensure/internal/cmd/mocks_test.go
  cmd/ensure/internal/mocks/mock_mockwrite/mock_mockwrite.go
  cmd/ensure/internal/mockwrite/mock_destination.go
  cmd/ensure/internal/mockwrite/mockwrite.go
  cmd/ensure/internal/mockwrite/mockwrite_test.go
  cmd/ensure/internal/mockwrite/tidy_mocks.go
  cmd/ensure/internal/mockwrite/tidy_mocks_test.go
Due: cli

Make Equals concurrent safe
  ensurepkg/chain.go
  ensurepkg/chain_test.go
Due: package

Add Go 1.18
  .github/workflows/ci.yml
  .golangci.yml
  cmd/ensure/.golangci.yml
Due: cli

Cleanup unnecessary package path code
  cmd/ensure/internal/ifacereader/ifacereader.go
  cmd/ensure/internal/ifacereader/ifacereader_test.go
  cmd/ensure/internal/ifacereader/scenarios/base/base.go
  cmd/ensure/internal/ifacereader/scenarios/builtin/builtin.go
  cmd/ensure/internal/ifacereader/scenarios/complexexternaltypes/complexexternaltypes.go
  cmd/ensure/internal/ifacereader/scenarios/externaltypes/externaltypes.go
  cmd/ensure/internal/ifacereader/scenarios/inlineexternaltypes/inlineexternaltypes.go
  cmd/ensure/internal/ifacereader/scenarios/iterableexternaltypes/iterableexternaltypes.go
  cmd/ensure/internal/ifacereader/scenarios/variadic/variadic.go
  cmd/ensure/internal/mockgen/scenarios/multiple_interfaces/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_interface_multiple_methods/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_clash_with_required/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_with_aliases/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_method_multiple_params/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_method_named_outputs/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_method_no_imports/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_method_unnamed_inputs/fixture.go
  cmd/ensure/internal/mockgen/scenarios/single_method_variadic_input/fixture.go
Due: cli

Bump CLI version to v0.2.2
  cmd/ensure/main.go
Due: cli

Bump version to v0.3.0
  cmd/ensure/main.go
Due: cli

Support generating mocks with generic type params
  cmd/ensure/internal/mockgen/mockgen_test.go
  cmd/ensure/internal/mockgen/scenarios/generics_multiple_type_params/fixture.go
  cmd/ensure/internal/mockgen/scenarios/generics_multiple_type_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/generics_single_type_param/fixture.go
  cmd/ensure/internal/mockgen/scenarios/generics_single_type_param/pkg1.expected
  cmd/ensure/internal/mockgen/template.go
Due: cli

Add support for reading generic type parameters
  cmd/ensure/internal/ifacereader/fixtures/generics/complexconstraints/complexconstraints.go
  cmd/ensure/internal/ifacereader/fixtures/generics/complexconstraints/externaltype/externaltype.go
  cmd/ensure/internal/ifacereader/fixtures/generics/externalconstraints/constraints/constraints.go
  cmd/ensure/internal/ifacereader/fixtures/generics/externalconstraints/externalconstraints.go
  cmd/ensure/internal/ifacereader/fixtures/generics/go.mod
  cmd/ensure/internal/ifacereader/fixtures/generics/go.sum
  cmd/ensure/internal/ifacereader/fixtures/generics/multipletypes/multipletypes.go
  cmd/ensure/internal/ifacereader/fixtures/generics/singletype/singletype.go
  cmd/ensure/internal/ifacereader/ifacereader.go
  cmd/ensure/internal/ifacereader/ifacereader_go118.go
  cmd/ensure/internal/ifacereader/ifacereader_go118_test.go
  cmd/ensure/internal/ifacereader/ifacereader_pre_go118.go
  cmd/ensure/internal/ifacereader/ifacereader_pre_go118_test.go
  cmd/ensure/internal/ifacereader/ifacereader_test.go
Due: cli

Upgrade CLI dependencies to fix issue loading packages
  cmd/ensure/go.mod
  cmd/ensure/go.sum
  cmd/ensure/main.go
Due: cli

Upgrade linter
  .github/workflows/ci.yml
  .golangci.yml
  cmd/ensure/.golangci.yml
  cmd/ensure/internal/cmd/mocks_test.go
  cmd/ensure/internal/fswrite/fswrite.go
  cmd/ensure/internal/fswrite/fswrite_test.go
  cmd/ensure/internal/mockwrite/mockwrite_test.go
  cmd/ensure/internal/mockwrite/tidy_mocks_test.go
Due: cli

Format docs for Go 1.19
  cmd/ensure/main.go
  ensure.go
  ensurepkg/chain.go
  ensurepkg/run_table.go
Due: cli, package

Swap spaces to tabs in docs to conform to Go 1.19
  .github/workflows/ci.yml
  cmd/ensure/internal/mockgen/scenarios/generics_multiple_type_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/generics_single_type_param/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/multiple_interfaces/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_interface_multiple_methods/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_clash_with_required/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_with_aliases/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_multiple_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_named_outputs/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_no_imports/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_no_params/noop.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_unnamed_inputs/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_variadic_input/pkg1.expected
  cmd/ensure/internal/mockgen/template.go
  cmd/ensure/internal/mocks/io/mock_fs/mock_fs.go
  cmd/ensure/internal/mocks/mock_ensurefile/mock_ensurefile.go
  cmd/ensure/internal/mocks/mock_fswrite/mock_fswrite.go
  cmd/ensure/internal/mocks/mock_ifacereader/mock_ifacereader.go
  cmd/ensure/internal/mocks/mock_mockgen/mock_mockgen.go
  cmd/ensure/internal/mocks/mock_mockwrite/mock_mockwrite.go
  internal/mocks/github.com/JosiahWitt/ensure/mock_ensurepkg/mock_ensurepkg.go
Due: cli

Extract message generation when not equal
  ensurepkg/chain.go
Due: package

Print byte slices as strings when not equal if they are valid UTF-8
  ensurepkg/chain.go
  ensurepkg/chain_test.go
Due: package

Add tablerunner package
  .golangci.yml
  cmd/ensure/.golangci.yml
  internal/plugins/plugins.go
  internal/tablerunner/built_table.go
  internal/tablerunner/built_table_test.go
  internal/tablerunner/name_plugin.go
  internal/tablerunner/tablerunner.go
  internal/tablerunner/tablerunner_test.go
Due: cli

Add stringerr package
  internal/stringerr/stringerr.go
  internal/stringerr/stringerr_test.go
Due: none

Fix empty string passed to os.DirFS
  cmd/ensure/main.go
Due: cli

Enhance IsNil, IsError, and MatchesAllErrors
  ensurepkg/chain.go
  ensurepkg/chain_error.go
  ensurepkg/chain_error_test.go
  ensurepkg/chain_test.go
  ensurepkg/ensurepkg.go
  ensurepkg/run.go
Due: package

Add helper for iterating through a struct
  internal/plugins/internal/iterate/iterate.go
  internal/plugins/internal/iterate/struct_fields.go
  internal/plugins/internal/iterate/struct_fields_test.go
Due: none

Add mocks package
  internal/plugins/internal/mocks/mocks.go
  internal/plugins/internal/mocks/mocks_test.go
Due: none

Add id package
  internal/plugins/internal/id/id.go
Due: none

Add subject plugin
  internal/plugins/internal/testhelper/testhelper.go
  internal/plugins/subject/subject.go
  internal/plugins/subject/subject_test.go
Due: none

Add test context to plugin hooks
  internal/plugins/plugins.go
  internal/plugins/subject/subject.go
  internal/plugins/subject/subject_test.go
  internal/tablerunner/built_table.go
  internal/tablerunner/built_table_test.go
  internal/tablerunner/name_plugin.go
  internal/tablerunner/tablerunner.go
  internal/tablerunner/tablerunner_test.go
  internal/testctx/testctx.go
Due: none

Return new mock from AddMock
  internal/plugins/internal/mocks/mocks.go
  internal/plugins/internal/mocks/mocks_test.go
  internal/plugins/internal/testhelper/testhelper.go
Due: none

Properly support nested groups and add footer support in stringerr
  internal/stringerr/stringerr.go
  internal/stringerr/stringerr_test.go
Due: none

Add mocks plugin
  internal/plugins/internal/id/id.go
  internal/plugins/mocks/mocks.go
  internal/plugins/mocks/mocks_test.go
Due: none

Remove unnecessary TableEntryPlugin interface
  internal/plugins/mocks/mocks.go
  internal/plugins/mocks/mocks_test.go
  internal/plugins/plugins.go
  internal/plugins/plugins_test.go
  internal/plugins/subject/subject.go
  internal/plugins/subject/subject_test.go
  internal/tablerunner/built_table.go
  internal/tablerunner/built_table_test.go
  internal/tablerunner/name_plugin.go
  internal/tablerunner/tablerunner.go
  internal/tablerunner/tablerunner_test.go
Due: none

Add SetupMocks plugin
  internal/plugins/setupmocks/setupmocks.go
  internal/plugins/setupmocks/setupmocks_test.go
Due: none

Use testctx in ensure package
  .ensure.yml
  ensure_test.go
  ensurepkg/chain_error_test.go
  ensurepkg/ensurepkg.go
  ensurepkg/ensurepkg_test.go
  ensurepkg/init_test.go
  ensurepkg/internal/testhelper/testhelper.go
  ensurepkg/run.go
  ensurepkg/run_table.go
  ensurepkg/run_table_test.go
  ensurepkg/run_test.go
  internal/mocks/github.com/JosiahWitt/ensure/mock_ensurepkg/mock_ensurepkg.go
Due: package

Add all plugins helper
  internal/plugins/all/all.go
  internal/plugins/all/all_test.go
Due: none

Extend testctx to be used more broadly
  .ensure.yml
  internal/mocks/mock_testctx/mock_testctx.go
  internal/plugins/mocks/mocks.go
  internal/plugins/mocks/mocks_test.go
  internal/plugins/plugins.go
  internal/plugins/setupmocks/setupmocks.go
  internal/plugins/subject/subject.go
  internal/tablerunner/built_table.go
  internal/tablerunner/built_table_test.go
  internal/tablerunner/name_plugin.go
  internal/tablerunner/tablerunner_test.go
  internal/testctx/testctx.go
  internal/testctx/testctx_test.go
Due: none

Use Run on testctx.Context in table runner
  internal/tablerunner/built_table.go
  internal/tablerunner/built_table_test.go
Due: none

Support Go 1.20
  .github/workflows/ci.yml
  cmd/ensure/go.mod
  cmd/ensure/go.sum
  internal/plugins/internal/mocks/mocks_test.go
Due: cli

Setup Staticcheck
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  ensurepkg/chain.go
  ensurepkg/run_table_test.go
Due: package

Validate mocks are pointers to structs
  internal/plugins/mocks/mocks.go
  internal/plugins/mocks/mocks_test.go
Due: none

Use refactored table runner
  codecov.yml
  ensurepkg/run.go
  ensurepkg/run_table.go
  ensurepkg/run_table_test.go
Due: package

Rename ensurepkg to ensurer and ensurepkg.Ensure to ensurer.E
  README.md
  codecov.yml
  ensure.go
  ensurepkg/ensurepkg.go
  ensurer/chain.go
  ensurer/chain_error.go
  ensurer/chain_error_test.go
  ensurer/chain_test.go
  ensurer/ensurer.go
  ensurer/ensurer_test.go
  ensurer/init_test.go
  ensurer/internal/testhelper/testhelper.go
  ensurer/run.go
  ensurer/run_table.go
  ensurer/run_table_test.go
  ensurer/run_test.go
  internal/plugins/internal/iterate/struct_fields_test.go
  internal/plugins/internal/mocks/mocks_test.go
  internal/plugins/mocks/mocks_test.go
  internal/plugins/setupmocks/setupmocks_test.go
  internal/plugins/subject/subject_test.go
  internal/stringerr/stringerr_test.go
  internal/tablerunner/built_table_test.go
  internal/tablerunner/tablerunner_test.go
Due: package

Fix Makefiles
  Makefile
  cmd/ensure/Makefile
Due: cli

Rename ensurer to ensuring
  README.md
  codecov.yml
  ensure.go
  ensurepkg/ensurepkg.go
  ensuring/chain.go
  ensuring/chain_error.go
  ensuring/chain_error_test.go
  ensuring/chain_test.go
  ensuring/ensuring.go
  ensuring/ensuring_test.go
  ensuring/init_test.go
  ensuring/internal/testhelper/testhelper.go
  ensuring/run.go
  ensuring/run_table.go
  ensuring/run_table_test.go
  ensuring/run_test.go
  internal/plugins/internal/iterate/struct_fields_test.go
  internal/plugins/internal/mocks/mocks_test.go
  internal/plugins/mocks/mocks_test.go
  internal/plugins/setupmocks/setupmocks_test.go
  internal/plugins/subject/subject_test.go
  internal/stringerr/stringerr_test.go
  internal/tablerunner/built_table_test.go
  internal/tablerunner/tablerunner_test.go
Due: package

Path conditions:
  cli: any of: cmd/ensure/**
  package: any of: *.go, ensurepkg/**
