Repository JosiahWitt/ensure: changes, and which Codecov flags are due for each by the changed paths.
All: cli, package

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "75...100"

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  cli:
    paths:
      - cmd/ensure/**
  package:
    paths:
      - "*.go"
      - "ensurepkg/**"

Setup entable module
  .github/workflows/ci.yml
  Makefile
  codecov.yml
  experiments/entable/.golangci.yml
  experiments/entable/Makefile
  experiments/entable/entable.go
  experiments/entable/entable_test.go
  experiments/entable/go.mod
  experiments/entable/go.sum
Due: none

Add a table builder
  experiments/entable/entable.go
  experiments/entable/entable_test.go
Due: none

Add support for grouping a table under a name
  experiments/entable/entable.go
  experiments/entable/entable_test.go
Due: none

Rename experiments to experiment
  .github/workflows/ci.yml
  Makefile
  codecov.yml
  experiment/entable/.golangci.yml
  experiment/entable/Makefile
  experiment/entable/entable.go
  experiment/entable/entable_test.go
  experiment/entable/go.mod
  experiment/entable/go.sum
Due: none

Add optional ensuring.E parameter to SetupMocks
  .golangci.yml
  cmd/ensure/.golangci.yml
  ensuring/internal/testhelper/testhelper.go
  ensuring/run_table_test.go
  internal/plugins/internal/id/id.go
  internal/plugins/setupmocks/setupmocks.go
  internal/plugins/setupmocks/setupmocks_test.go
  internal/reflectensure/reflectensure.go
  internal/reflectensure/reflectensure_test.go
Due: cli

Add Ensure to test context
  ensuring/ensuring.go
  ensuring/ensuring_test.go
  ensuring/init_test.go
  ensuring/internal/testhelper/testhelper.go
  internal/mocks/mock_testctx/mock_testctx.go
  internal/testctx/testctx.go
  internal/testctx/testctx_test.go
Due: none

Rewrite entable to center around a single entable.Table type
  .github/workflows/ci.yml
  Makefile
  codecov.yml
  exp/entable/.golangci.yml
  exp/entable/Makefile
  exp/entable/entable.go
  exp/entable/entable_test.go
  exp/entable/go.mod
  exp/entable/go.sum
  experiment/entable/entable.go
  experiment/entable/entable_test.go
Due: none

Add InterfaceT method for exposing the scoped ensuring.T
  ensuring/ensuring.go
  ensuring/ensuring_test.go
Due: none

Improve entable tests
  exp/entable/.ensure.yml
  exp/entable/Makefile
  exp/entable/entable.go
  exp/entable/entable_test.go
  exp/entable/go.mod
  exp/entable/go.sum
  exp/entable/internal/mocks/github.com/JosiahWitt/ensure/mock_ensuring/mock_ensuring.go
Due: none

Add ensure.RunParallel
  ensuring/run.go
  ensuring/run_test.go
  internal/mocks/mock_testctx/mock_testctx.go
  internal/testctx/testctx.go
Due: none

Remove support for prior to Go 1.18 in CLI
  cmd/ensure/internal/ifacereader/ifacereader.go
  cmd/ensure/internal/ifacereader/ifacereader_go118.go
  cmd/ensure/internal/ifacereader/ifacereader_go118_test.go
  cmd/ensure/internal/ifacereader/ifacereader_pre_go118.go
  cmd/ensure/internal/ifacereader/ifacereader_pre_go118_test.go
  cmd/ensure/internal/ifacereader/ifacereader_test.go
Due: cli

Upgrade Ensure CLI to Go 1.21+
  .github/workflows/ci.yml
  .golangci.yml
  README.md
  cmd/ensure/.golangci.yml
  cmd/ensure/go.mod
  cmd/ensure/go.sum
  cmd/ensure/internal/cmd/mocks_test.go
  cmd/ensure/internal/ensurefile/ensurefile_test.go
  cmd/ensure/internal/ifacereader/ifacereader.go
  cmd/ensure/internal/ifacereader/ifacereader_go118.go
  cmd/ensure/internal/ifacereader/ifacereader_test.go
  cmd/ensure/internal/mockgen/mockgen_test.go
  cmd/ensure/internal/mockwrite/mockwrite_test.go
  cmd/ensure/internal/mockwrite/tidy_mocks_test.go
  cmd/ensure/internal/uniqpkg/uniqpkg_test.go
  ensuring/chain_error_test.go
  exp/entable/.golangci.yml
  exp/entable/entable_test.go
  internal/mocks/mock_testctx/mock_testctx.go
  internal/stringerr/stringerr.go
  internal/testctx/testctx.go
  internal/testctx/testctx_test.go
Due: cli

Fix stray CLI doc referencing Go 1.16
  cmd/ensure/README.md
Due: cli

Support synctest.Test on Go 1.25+ via RunSync and RunTableByIndexSync
  .ensure.yml
  .github/workflows/ci.yml
  ensuring/run_table_test.go
  ensuring/run_test.go
  ensuring/synctest.go
  ensuring/synctest_test.go
  internal/integration_test_suite/go125_test.go
  internal/mocks/mock_testctx/mock_testctx.go
  internal/testctx/synctest.go
  internal/testctx/synctest_internal_test.go
  internal/testctx/synctest_test.go
  internal/testctx/testctx.go
  internal/testctx/testctx_test.go
Due: none

Add basic integration tests to verify happy paths
  internal/integration_test_suite/chain_test.go
  internal/integration_test_suite/go125_test.go
  internal/integration_test_suite/methods_test.go
Due: none

Upgrade dependencies for CLI to support Go 1.24+
  .github/workflows/ci.yml
  .golangci.yml
  cmd/ensure/.golangci.yml
  cmd/ensure/go.mod
  cmd/ensure/go.sum
  cmd/ensure/internal/ifacereader/fixtures/alias/alias.go
  cmd/ensure/internal/ifacereader/ifacereader.go
  cmd/ensure/internal/ifacereader/ifacereader_test.go
  cmd/ensure/internal/mocks/mock_fswrite/mock_fswrite.go
  ensuring/chain.go
  exp/entable/.golangci.yml
  internal/plugins/internal/mocks/mocks.go
  internal/stringerr/stringerr.go
Due: cli

Upgrade linter to v2.4.0
  .github/workflows/ci.yml
  .golangci.yml
  cmd/ensure/.golangci.yml
  cmd/ensure/internal/fswrite/fswrite_test.go
  ensuring/synctest.go
  exp/entable/.golangci.yml
  internal/testctx/synctest.go
Due: cli

Upgrade Go 1.25RC1 to 1.25
  .github/workflows/ci.yml
Due: none

Add copilot instructions
  .github/copilot-instructions.md
Due: none

Fix race conditions in testctx
  .github/workflows/ci.yml
  internal/integration_test_suite/race_test.go
  internal/testctx/synctest.go
  internal/testctx/synctest_internal_test.go
  internal/testctx/testctx.go
  internal/testctx/testctx_test.go
Due: none

Upgrade GitHub Actions
  .github/workflows/ci.yml
  .golangci.yml
Due: none

Swap YAML library to goccy/go-yaml
  cmd/ensure/go.mod
  cmd/ensure/go.sum
  cmd/ensure/internal/ensurefile/ensurefile.go
Due: cli

Upgrade urfave/cli from v2 to v3
  cmd/ensure/go.mod
  cmd/ensure/go.sum
  cmd/ensure/internal/cmd/mocks.go
  cmd/ensure/internal/cmd/root.go
Due: cli

Include tool installation instructions in README
  README.md
Due: none

Bump CLI version to v0.4.3
  cmd/ensure/main.go
Due: cli

Swap to go.uber.org/mock/gomock instead of github.com/golang/mock/gomock
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  README.md
  ensure_test.go
  ensuring/chain_test.go
  ensuring/ensuring.go
  ensuring/ensuring_test.go
  ensuring/run_table_test.go
  ensuring/run_test.go
  go.mod
  go.sum
  internal/integration_test_suite/methods_test.go
  internal/integration_test_suite/race_test.go
  internal/mocks/mock_testctx/mock_testctx.go
  internal/plugins/mocks/mocks.go
  internal/plugins/mocks/mocks_test.go
  internal/plugins/setupmocks/setupmocks_test.go
  internal/tablerunner/built_table_test.go
  internal/testctx/synctest_test.go
  internal/testctx/testctx.go
  internal/testctx/testctx_test.go
Due: package

Upgrade to newer Go syntax
  ensuring/chain.go
  ensuring/chain_test.go
  ensuring/run_table_test.go
  internal/integration_test_suite/methods_test.go
  internal/integration_test_suite/race_test.go
  internal/plugins/internal/iterate/struct_fields.go
  internal/plugins/mocks/mocks_test.go
  internal/plugins/setupmocks/setupmocks_test.go
  internal/plugins/subject/subject_test.go
  internal/tablerunner/built_table.go
  internal/testctx/testctx_test.go
Due: none

Swap to use go.uber.org/mock instead of github.com/golang/mock in CLI
  cmd/ensure/go.mod
  cmd/ensure/go.sum
  cmd/ensure/internal/ensurefile/ensurefile_test.go
  cmd/ensure/internal/mockgen/mockgen.go
  cmd/ensure/internal/mockgen/scenarios/generics_multiple_type_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/generics_single_type_param/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/multiple_interfaces/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_interface_multiple_methods/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_clash_with_required/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_with_aliases/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_multiple_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_named_outputs/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_no_imports/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_no_params/noop.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_unnamed_inputs/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_variadic_input/pkg1.expected
  cmd/ensure/internal/mocks/io/mock_fs/mock_fs.go
  cmd/ensure/internal/mocks/mock_ensurefile/mock_ensurefile.go
  cmd/ensure/internal/mocks/mock_fswrite/mock_fswrite.go
  cmd/ensure/internal/mocks/mock_ifacereader/mock_ifacereader.go
  cmd/ensure/internal/mocks/mock_mockgen/mock_mockgen.go
  cmd/ensure/internal/mocks/mock_mockwrite/mock_mockwrite.go
Due: cli

Prep CLI v0.5.0
  cmd/ensure/main.go
Due: cli

Swap to use go.uber.org/mock instead of github.com/golang/mock in entable
  exp/entable/entable_test.go
  exp/entable/go.mod
  exp/entable/go.sum
  exp/entable/internal/mocks/github.com/JosiahWitt/ensure/mock_ensuring/mock_ensuring.go
Due: none

Prep CLI v0.6.0 release
  cmd/ensure/main.go
Due: cli

Enhance gomock failure messages for non-matcher inputs
  README.md
  cmd/ensure/internal/cmd/mocks.go
  cmd/ensure/internal/cmd/mocks_test.go
  cmd/ensure/internal/ensurefile/ensurefile.go
  cmd/ensure/internal/ensurefile/ensurefile_test.go
  cmd/ensure/internal/mockgen/mockgen.go
  cmd/ensure/internal/mockgen/mockgen_test.go
  cmd/ensure/internal/mockgen/scenarios/enhanced_matcher_failures_disabled/fixture.go
  cmd/ensure/internal/mockgen/scenarios/enhanced_matcher_failures_disabled/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/generics_multiple_type_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/generics_single_type_param/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/multiple_interfaces/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_interface_multiple_methods/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_clash_with_required/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_with_aliases/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_multiple_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_named_outputs/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_no_imports/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_no_params/noop.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_variadic_input/pkg1.expected
  cmd/ensure/internal/mockgen/template.go
  cmd/ensure/internal/mocks/io/mock_fs/mock_fs.go
  cmd/ensure/internal/mocks/mock_ensurefile/mock_ensurefile.go
  cmd/ensure/internal/mocks/mock_fswrite/mock_fswrite.go
  cmd/ensure/internal/mocks/mock_ifacereader/mock_ifacereader.go
  cmd/ensure/internal/mocks/mock_mockgen/mock_mockgen.go
  cmd/ensure/internal/mocks/mock_mockwrite/mock_mockwrite.go
  exp/entable/internal/mocks/github.com/JosiahWitt/ensure/mock_ensuring/mock_ensuring.go
  internal/mocks/mock_testctx/mock_testctx.go
Due: cli

Upgrade pretty, deep, and erk
  cmd/ensure/go.mod
  exp/entable/go.mod
  exp/entable/go.sum
  go.mod
  go.sum
Due: cli

Handle nil inputs correctly in generated matchers by using gomock.Nil()
  cmd/ensure/internal/mockgen/scenarios/generics_multiple_type_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/generics_single_type_param/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/multiple_interfaces/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_interface_multiple_methods/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_clash_with_required/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_external_imports_with_aliases/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_multiple_params/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_named_outputs/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_no_imports/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_no_params/noop.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_unnamed_inputs/pkg1.expected
  cmd/ensure/internal/mockgen/scenarios/single_method_variadic_input/pkg1.expected
  cmd/ensure/internal/mockgen/template.go
  cmd/ensure/internal/mocks/io/mock_fs/mock_fs.go
  cmd/ensure/internal/mocks/mock_ensurefile/mock_ensurefile.go
  cmd/ensure/internal/mocks/mock_fswrite/mock_fswrite.go
  cmd/ensure/internal/mocks/mock_ifacereader/mock_ifacereader.go
  cmd/ensure/internal/mocks/mock_mockgen/mock_mockgen.go
  cmd/ensure/internal/mocks/mock_mockwrite/mock_mockwrite.go
  exp/entable/internal/mocks/github.com/JosiahWitt/ensure/mock_ensuring/mock_ensuring.go
  internal/mocks/mock_testctx/mock_testctx.go
Due: cli

Support embedded non-struct types within Subject structs
  internal/plugins/internal/iterate/struct_fields.go
  internal/plugins/internal/iterate/struct_fields_test.go
Due: none

fixup! Modernize code up through Go 1.23
  cmd/ensure/internal/ifacereader/ifacereader_test.go
Due: cli
